<% provide(:title, "Edit Meetup Group") %>
<h1>Edit Meetup Group</h1>

<div class="row-fluid">
  <div class="span11 offset1">
    <%= form_for(@group) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :topic %>
      <%= f.text_field :topic %>

      <%= f.label :home_town %>
      <%= f.text_field :home_town %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

<div class="row-fluid">
  <h2>Add users:</h2>
  <% @nonmembers.each do |m| %>
    <div class="span3 offset1">
      <%=m.name%>
      <%= link_to 'Add', createmem_path( :member=> m, :group => @group ) %>
    </div>
  <%end%>
</div>