<% provide(:title, "Meetup Group") %>

<div class="row-fluid">
  <div class="span4 offset1">
    <h2>Topic</h2>
    <p><%= @group.topic %></p>
  </div>
  <div class="span4 offset2">
    <h3>Home Town</h3>
    <p><%= @group.home_town %></p>
  </div>
</div>


<div class="row-fluid">
  <div class="span11 offset1">
    <h3>Members:</h3>
  </div>
<div class="row-fluid">
  <% @members.each do |m| %>
    <div class="span2 offset1">
      <%=m.name%>
    </div>
    <div class="span2 offset1">
      <%= link_to "View", user_path %>
    </div>
  <%end%>
</div>
  <h3>Activities: </h3>
  <% @group.activities.each do |activity| %>
      <strong>Name:</strong>
      <%= activity.name %><br/>
        <br/>
      <%= image_tag(activity.image_url, :size => '250x250') %>
        <br/>
      <strong>Location</strong>
      <%= activity.location %><br/>
      <strong>Duration:</strong><br/>
      <%= activity.start_date %><br/>
      <%= activity.end_date %><br/>
      <strong>Description</strong>
      <%= activity.description %><br/>
      <strong>Votes</strong>
      <%= pluralize(activity.votes.count, "vote") %>
<%#= <%= button_to '+1', upvote_group_activity_path(activity), method: :post %> %>
<br/><br/>
  <% end %>


<h2>Add an Activtiy:</h2>
  <%= form_for([@group, @group.activities.build]) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :Location %>
      <%= f.text_field :location %>

      <%= f.label :Start %>
      <%= f.datetime_field :start_date %>
      <%= f.label :End%>
      <%= f.datetime_field :end_date%>

      <%= f.label :Description %>
      <%= f.text_field :description %>

      <%= f.label :ImageURL %>
      <%= f.url_field :image_url %>

      <%= f.submit %>
  <% end %>
 
<%= link_to 'Back', groups_path %>
| <%= link_to 'Edit', edit_group_path(@group) %>
