<% provide(:title, "Meetup Group") %>

<div class="row-fluid">
  <div class="span4 offset1">
    <h2>Topic</h2>
    <p><%= @group.topic %></p>
  </div>
  <div class="span4 offset2">
    <h3>Home Town</h3>
    <p><%= @group.home_town %></p>
  </div>
</div>


<div class="row-fluid">
  <div class="span11 offset1">
    <h3>Members:</h3>
  </div>
<div class="row-fluid">
  <% @members.each do |m| %>
    <div class="span2 offset1">
      <%=m.name%>
    </div>
    <div class="span2 offset1">
      <%= link_to "View", user_path %>
    </div>
  <%end%>
</div>
 
<h2>Add an Activtiy:</h2>
<p> Has to be implemented </p>
 
<%= link_to 'Back', groups_path %>
| <%= link_to 'Edit', edit_group_path(@group) %>