<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

<h2>Twitter</h2>
<% if current_user.twitter? %>
    Twitter is authorised
    <%= link_to 'Deauthorise Twitter', twitter_path, :method => :delete %>
<% else %>
    Twitter is not autorised
    <%= link_to 'Authorise Twitter', twitter_index_path, :method => :post %>
<% end %>


  </div>
</div>