<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
	<div class="span8">
    <% if @user.groups.any? %>
      <h3>Gruops (<%= @user.groups.count %>)</h3>
      <ol class="groups">
        <%= render @groups %>
      </ol>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
