<%= form_for(@group) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :topic, placeholder: "Topic for this group..." %>
    <%= f.label :home_town%>
    <%= f.text_field :home_town%>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>